.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
}

.Nav-Items {
    list-style-type: none;
    display: flex;
}

.Nav-Items li {
    padding-left: 0.8rem;
}

.Nav-Items li:hover {
    cursor: pointer;
}